{% set competitions_data = frappe.get_list('Competition', fields=['competition_image', 'competition_title',
'competition_description', 'passing_score', 'name', 'quiz_banner', 'end_date'], order_by='creation') %}

{% for competition in competitions_data %}
<div class="container">
    <div class="all-qz-contnt">
        <div class="text-center" style="margin: 5px;">
            {% set DefaultCompetitionIcon = frappe.db.get_single_value('Default Competition Icon', 'default_competition_icon') %}
            <img src='{{competition["competition_image"] or DefaultCompetitionIcon}}'  width="200px" class="rounded">
        </div>
        <!-- sent data -->
        {% set competition_name = competition['name'] %}
        <p class="c-t" hidden>{{ competition_name }}</p>

        {% set quiz_banner = competition['quiz_banner'] %}
        {% set DefaultQuizBanner = frappe.db.get_single_value('Default Quiz Banner', 'default_quiz_icon') %}
        <p class="q-b" hidden>{{ quiz_banner or DefaultQuizBanner }}</p>

        {% set competition_end_date = competition['end_date'] %}
        <p class="nd-dt" hidden>{{ competition_end_date }}</p>

        {% set passing_score = competition['passing_score'] %}
        <p class="p-s" hidden>{{ passing_score }}</p>

        <div class="text-center" style="margin: 5px;">
            
            {% set competition_title = competition['competition_title'] %}
            <h4 class="card-title" style="margin: 5px;">{{ _(competition_title) }}</h4>

            {% set competition_description = competition['competition_description'] %}
            <p class="card-text">{{ _(competition_description) }}</p>
            
            {% if frappe.session.user == 'Administrator' %}
                <p class="u-r" hidden>Administrator</p>
                <button class="btn btn-primary" type="submit">{{_('View Quiz')}}</button>
            {% else %}
                <p class="u-r" hidden>Guest</p>
                <button class="btn btn-primary" type="submit">{{_('Start Quiz')}}</button>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<script src="culturequiz/competitions.js"></script>