{% extends "templates/base.html" %}

{% block content%}
<!-- Quiz Section-->
<div class="site-section bg-light" id="quiz-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <img id="qz-b" style="width:95%; height: auto;">
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <p id="quizDescription" style="font-family:'al-mohannad' !important ;"></p>
            </div>
        </div>
        <hr />

        <div class="row" style="margin: 5px; padding: 5px; font-family:'al-mohannad' !important ; font-weight: 100px;">
            <form id="quiz-content" method="post">
            </form>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" form="quiz-content" type="submit">{{_('Submit Quiz')}}</button>
        </div>
    </div>
</div>
<script src="culturequiz/Quiz.js"></script>
{% endblock %}